<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @location.title %>
</p>

<p>
  <b>Description:</b>
  <%= @location.description %>
</p>

<p>
  <b>Category:</b>
  <%= @location.category_id %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
